<div class="text-center pb-4 text-sm text-gray-600 dark:text-gray-400">
  <div class="flex justify-center items-center gap-4 mt-2">
    <small
      class="cursor-default"
      title="<%= lastfetched ? slimDateTime(lastfetched.lastFetchedAt,true) : 'Never' %>">
      v<%= package %>
    </small>
    <small>
      &copy; <%= copyrightyearstart %>–<%= copyrightyear %>
    </small>
  </div>

  <div class="flex justify-center items-center gap-2 mt-2">
    <img src="/resources/images/HCS-Logo-v4-Icon32.png" alt="Logo" width="32" height="32">
    <a href="https://www.heroncs.co.uk"
       class="hcs-green-text dark:text-green-400 hover:underline">
      Heron Constructive Solutions LTD
    </a>
  </div>

  <div class="mt-1">
    <small>
      VAT:
      <a href="https://beta.companieshouse.gov.uk/company/09276951"
         class="hcs-green-text dark:text-green-400 hover:underline">
        252295994
      </a>
      |
      Company:
      <a href="https://beta.companieshouse.gov.uk/company/09276951"
         class="hcs-green-text dark:text-green-400 hover:underline">
        09276951
      </a>
    </small>
  </div>
</div>
