# Environment & sensitive files
.env

# Node modules
/node_modules/

# Build outputs
/config/
/dist/

# Logs
app.log
/logs/

# Project files
/Projects/

# Archives
*.zip

# Test output
test/routes_test.log
compose.env
