# Redirect HTTP → HTTPS
:80 {
  redir https://{host}{uri}
}

team.heroncs.co.uk {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    reverse_proxy frps:18080 {
        header_up Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
        transport http {
            versions 1.1
        }
    }
}

sync.heroncs.co.uk {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    reverse_proxy frps:18080 {
        header_up Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
        transport http {
            versions 1.1
        }
    }
}

app.heroncs.co.uk {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    reverse_proxy frps:18080 {
        header_up Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
        transport http {
            versions 1.1
        }
    }
}