<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<div class="container py-4">
    <h1 class="display-5 fw-bold text-center">Log in</h1>
    <form action="/user/login" method="POST">
        <div class="form-floating mb-3">
            <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" required>
            <label for="usernameOrEmail" class="form-label">Username or Email:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" id="password" name="password" class="form-control" required>
            <label for="password" class="form-label">Password:</label>
        </div>
        <div class="form-floating mb-3">
            <div class="cf-turnstile" data-sitekey="<%= siteKey %>"></div>
        </div>
        <div class="form-floating align-items-center">
            <button class="btn btn-hcs-green" type="submit"><i class="bi bi-box-arrow-in-right"></i> Log in</button>
            <a class="btn" type="button" href="/user/register"><i class="bi bi-book"></i> Create an account</a>
        </div>
    </form>
</div>
