<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <h1 class="display-5 fw-bold text-center"><%= typeof title !== 'undefined' ? title : '' %></h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
      <div class="col">
        <div class="card h-100 d-flex flex-column">
          <div class="card-body">
            <h5 class="card-header-pills">CIS Dashboard</h5>
            <p class="card-text">View monthly return status and receipts.</p>
            <a href="/dashboard/CIS" class="btn btn-hcs-green mt-auto">CIS Dashboard</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 d-flex flex-column">
          <div class="card-body">
            <h5 class="card-header-pills">Monthly Returns</h5>
            <p class="card-text">Submit your CIS returns for each period.</p>
            <a href="/kashflow/monthly/returns/form" class="btn btn-hcs-green mt-auto">Monthly Returns</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 d-flex flex-column">
          <div class="card-body">
            <h5 class="card-header-pills">Subcontractors</h5>
            <p class="card-text">Manage CIS registered subcontractors.</p>
            <a href="/dashboard/KFsubcontractor" class="btn btn-hcs-green mt-auto">Subcontractors</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
