<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-center">Create Contract</h1>
      <p>This form will allow you to create a new contract.</p>
      <!-- TODO: add form fields -->
    </div>
  </div>
</div>
